@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --cor-navi: #153f00;
    --cor-texto-nav: #fff;
    --font-texto: 'Roboto', sans-serif; 
    --cor-titulo: #000;
    --cor-texto: #333;
    --cor-card-pastor: #a5a4a4;
    --cor-botao: #fff;
    --cor-hover-botao: #153f00;
    --font-tamanho-h1: 2.5rem;
    --font-tamanho-h2: 2rem;
    --font-tamanho-h3: 1.75rem;
    --font-tamanho-p: 1rem;
}

/* Estilo Global */
body {
    margin: 0;
    padding: 0;
    background-color: #f9f9f9; 
    font-family: var(--font-texto); 
}

/* Estilo para Títulos e Parágrafos */
h1, h2, h3 {
    font-weight: 700; 
}

h1 {
    font-size: var(--font-tamanho-h1);
    color: var(--cor-titulo);
}

h2, h3 {
    color: var(--cor-texto);
    text-align: center; 
}

h2 {
    font-size: var(--font-tamanho-h2);
    margin: 2rem 0; /* Margem vertical consistente */
}

h3 {
    font-size: var(--font-tamanho-h3);
    margin: 2rem 0; /* Margem vertical consistente */
}

p {
    font-size: var(--font-tamanho-p);
    font-weight: 400; 
    color: var(--cor-texto);
    line-height: 1.6; /* Melhora a legibilidade */
}

/* Header */
.container-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    background-color: var(--cor-navi);
    position: sticky;
    top: 0;
    height: 5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra para destaque */
}

.logo img {
    width: 6rem;
    height: auto;
    border-radius: 50%;
}

.menu ul {
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu ul li {
    margin-left: 1.5rem;
}

.menu ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: var(--cor-texto-nav);
    transition: color 0.3s ease;
}

.menu ul li a:hover {
    color: var(--cor-hover-botao);
}

/* Estilo do botão de menu para dispositivos móveis */
#menu-button {
    display: none;
    background: none;
    border: none;
    cursor: pointer;
}

#menu-button img {
    text-align: right;
    width: 24px;
    height: 24px;
}

/* Responsividade */
@media (max-width: 760px) {
    .container-menu {
        flex-direction: column;
        height: auto; 
        padding: 0.5rem; 
    }

    .menu ul {
        display: none;
        flex-direction: column;
        width: 100%;
        text-align: left;
        background-color: var(--cor-navi);
    }

    .menu ul li {
        width: 100%;
        margin: 0;
        padding: 1rem 1.5rem;
    }

    .menu.menu-open ul {
        display: flex;
    }
    
    #menu-button {
        display: block;
        position: absolute;
        top: 10px; 
        right: 10px; 
    }
}

/* Estilo das Tabelas */
table {
    margin: 2rem auto; /* Centraliza a tabela e adiciona margem superior/inferior */
    text-align: center;
    width: 90%;
    border-collapse: collapse;
    overflow: hidden; /* Impede o estouro */
}

th, td {
    padding: 0.75rem;
    border: 1px solid #fff;
    text-align: left;
}

th {
    background-color: var(--cor-navi);
    color: #fff;
    text-transform: uppercase;
}

tbody tr:nth-child(even) {
    background-color: #a3a3a3;
}

/* Tabelas Responsivas */
@media (max-width: 768px) {
    table {
        width: 100%;
    }
}
/* Rodapé */footer {
  background-color: var(--cor-navi);
  padding: 1.25rem; /* 20px */
  text-align: center;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.footer-section {
  margin: 0.625rem; /* 10px */
  flex: 1 1 250px; /* Mínimo de 250px para cada seção, cresce e encolhe */
}

.footer-copyright p {
  margin-top: 1.25rem; /* 20px */
  font-size: 0.9rem; /* 0.9em pode ser mantido ou ajustado */
  color: #fff;
}

.footer-section {
  color: #fff;
  font-size: 0.9rem;
}

.footer-section h3 {
  color: #fff;
  margin-bottom: 0.625rem; /* 10px */
}

.social-media img {
  width: 2.5rem; /* 40px */
  margin: 0 0.3125rem; /* 5px */
}

.app-links img {
  width: 7.5rem; /* 120px */
  margin: 0 0.3125rem; /* 5px */
}

.footer-copyright {
  margin-top: 1.25rem; /* 20px */
  font-size: 0.9rem;
  color: #6c757d;
}

footer a {
  text-decoration: none;
}

/* Estilos Responsivos */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column; /* Altera a direção para coluna em telas menores */
    align-items: center; /* Centraliza os itens */
  }

  .footer-section {
    flex: 1 1 100%; /* Cada seção ocupa 100% da largura */
    margin: 0.625rem 0; /* Adiciona margem vertical */
  }

  .social-media img  {
    width: 2rem; /* Ajusta os ícones para um tamanho menor em telas menores */
  }
  .app-links img {
    width: 7rem; /* Ajusta o tamanho do link do aplicativo para um tamanho menor em telas menores */
  }
}
